.TraxMain{
padding:none;
border:none;
font-size:none;
}

.xmodule_display.xmodule_HtmlModule table td{
border: 0px solid #ccc;
vertical-align: middle;
padding:5px;
}

h2{
text-transform:none !important;
}

table.title1
{
width:100%;
margin-left:auto;
margin-right:auto;
padding:0em;
}
td.page
{
padding:0em !important;
}
td.header1
{
text-align:center;
color:#888844;
font-style:italic;
font-weight:bold;
font-size:20px !important;
border-style:solid;
border-radius:5px;
border-width:10px !important;
border-color:#c83d58 !important;
border-bottom:0px solid #c83d58 !important;
padding:10px !important; 
}
td.header2
{
text-align:center;
color:#888844;
font-style:italic;
font-weight:bold;
font-size:20px !important;
padding:0px !important;
}
td.header3
{
text-align:center;
color:#888844;
font-style:italic;
font-weight:regular;
font-size:16px !important;
padding:0px !important;
border: 0px solid #888844;
}
.inBoxTitles
{
text-align:center;
font-style:italic;
font-weight:regular;
font-size:16px;
}
.textXL
{
text-align:center;
font-size: 24px;
font-weight: bold;
}


td.footer1
{
text-align:center;
color:#888844;
font-style:italic;
font-weight:bold;
font-size:20px;
border-style:solid;
border-radius:5px;
border-width:10px;
border-color:#c83d58;
border-top:0px solid #c83d58; 
border-left:0px solid #c83d58;
border-right:0px solid #c83d58;
}
table.box1,td.box1,tr.box1
{
width:100%;
border: 1px solid #888844;
border-collapse:collapse;
margin-left:auto;
margin-right:auto;
}
th.boxH
{
border:1px solid #888844 !important;
text-align:center;
color:#888844;
font-style:italic;
padding:10px !important;
}
td.boxT
{
text-align:justify;
padding:10px !important;
}

td.boxC
{
text-align:center;
padding:10px !important;
}

td.boxBc
{
border:1px solid #888844;
text-align:center;
padding:5px !important;
}

td.boxBj
{
border:1px solid #888844 !important;
text-align:justify;
padding:5px !important;
}

td.boxB
{
width:50%;
border:1px solid #888844 !important;
text-align:center;
padding:5px !important;

/*end of page summary*/
}


div.con,tr.con,span.con,td.con
{
/*background: #99ffdd;*/
background: #E3E3E3;
}
td.videolink
{
width:70px;
text-align:center;
}
td.videodesc
{
text-align:justify;
}

img.full
{
width:100%;
}
img.rs
{
float: left; 
margin-right: 10px;
width: 200px;
height: auto;
}
.sLine
{
overflow: hidden;
white-space: nowrap;
}



header.global.slim h2 {
display: block;
width: 700px;
float: left;
font-size: 0.9em;
font-weight: 600;
color: #646464;
letter-spacing: 0;
margin-top: 9px;
margin-bottom: 0;
text-transform: none;
text-shadow: 0 1px 0 #fff;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}


header.global-new.slim h2 {
display: block;
width: 700px;
float: left;
font-size: 0.9em;
font-weight: 600;
color: #646464;
letter-spacing: 0;
margin-top: 9px;
margin-bottom: 0;
text-transform: none;
text-shadow: 0 1px 0 #fff;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}
.home>header .title {
  min-height:130px;
}
.home>header .media {
  width:142px;
  height:130px;
}
.home>header .media .hero .play-intro {
  display:none;
}
