## mako

<%namespace name='static' file='/static_content.html'/>

<script type="text/javascript" src="themes/cuptheme/ngick/highslide/highslide-with-html.js"></script>
<link rel="stylesheet" type="text/css" href="themes/cuptheme/ngick/highslide/highslide.css" />
<script type="text/javascript">
        hs.graphicsDir = 'themes/cuptheme/ngick/highslide/graphics/';
        hs.outlineType = 'rounded-white';
        hs.showCredits = false;
        hs.wrapperClassName = 'draggable-header';
</script>


