## mako

<%namespace name='static' file='/static_content.html'/>

 <link rel="stylesheet" type="text/css" href="${static.url('themes/cuptheme/css/ngextra.css')}" />

<script type="text/javascript" src="${static.url('themes/cuptheme/css/ngick/highslide/highslide-with-html.js')}"></script>
<link rel="stylesheet" type="text/css" href="${static.url('themes/cuptheme/css/ngick/highslide/highslide.css')}" />
<script type="text/javascript">
        hs.graphicsDir = '${static.url('themes/cuptheme/css/ngick/highslide/graphics/')}';
        hs.outlineType = 'rounded-white';
        hs.showCredits = false;
        hs.wrapperClassName = 'draggable-header';
</script>






